<footer class="navbar navbar-expand-lg bg-info" data-bs-theme="dark">

  <div class="container">
    <div class="row">
    <div class="col-md-6">
    <a class="navbar-brand" href="{{ path('home.index')}}">🥝 SymRecipe</a>
        <h5 class="text-dark">À propos de nous</h5>
        <p class="text-dark">Nous sommes une communauté de passionnés de cuisine qui partagent des recettes délicieuses et saines.</p>
      </div>
      <div class="col-md-3">
        <h5 class="text-dark">Liens utiles</h5>
        <ul class="list-unstyled">
          <li><a class="link-light" href="#">Recettes</a></li>
          <li><a class="link-light" href="#">Blog</a></li>
          <li><a class="link-light" href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-dark">Restez en contact</h5>
        <ul class="list-unstyled">
          <li><a class="link-light" href="#">Facebook</a></li>
          <li><a class="link-light" href="#">Twitter</a></li>
          <li><a class="link-light" href="#">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>