{% extends "base.html.twig" %}

{% block title %}
Symreciepe - Edition du profil
{% endblock %}



{% block body %}
<div class="container mt-4">

    <h1 class="mt-4"> Formulaire d'édition du profil utilisateur</h1>
    {{form(form)}}
</div>

{% endblock %}