<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>

    {# templates/emails/contact.html.twig #}
    <h1>Welcome {{ contact.FullName }}!</h1>

    <p>Email : {{contact.email}}</p>
    <p>SUjet : {{contact.subject}}</p>
    <p>Message : {{contact.message|raw}}</p>

   



</body>
</html>


